
    .title_tabla2{
        position: absolute;
        width: 306px;
        height: 36px;
        left: 500px;
        top: 70px;
        
        /* Heading/Heading 3 */
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height */
        
        
        /* Color/White */
        
        color: #F2F7F5;
        }
        .barra{
            position: absolute;
            width: 900px;
            height: 60px;
            left: 450px;
            top: 50px;
            
            /* Color/Green */
            
            background: #00473E;
            border-radius: 20px 20px 0px 0px;
        }

     .fechaimp2{
        box-sizing: border-box;
    
        position: absolute;
        width: 200px;
        height: 48px;
        
        left: 500px;
        right: 0px;
        top: 200px;
        
        /* Color/White */
        
        background: #F2F7F5;
        /* Color/Gray 2 */
        
        border: 1px solid #00473E;
        border-radius: 5px;
    }
    
    .fechatitle2{
        position: absolute;
        width: 577px;
        height: 91px;
        left: 500px;
        top: 160px;
    /* Text/Text Semi Bold 1 */
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    /* Color/Text */
    
    color: #00473E;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0; 
    }
    
    .corregiimp2{
        box-sizing: border-box;
    
        position: absolute;
        width: 150px;
        height: 48px;
        left: 750px;
        right: 0px;
        top: 200px;
        
        /* Color/White */
        
        background: #F2F7F5;
        /* Color/Gray 2 */
        
        border: 1px solid #00473E;
        border-radius: 5px;
    }
    .corregititle2{
        position: absolute;
        width: 577px;
        height: 91px;
        left: 750px;
        top: 160px;
    /* Text/Text Semi Bold 1 */
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    /* Color/Text */
    
    color: #00473E;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0; 
    }

    .periodoimp2{
        box-sizing: border-box;
    
        position: absolute;
        width: 150px;
        height: 48px;
        left: 950px;
        right: 0px;
        top: 200px;
        
        /* Color/White */
        
        background: #F2F7F5;
        /* Color/Gray 2 */
        
        border: 1px solid #00473E;
        border-radius: 5px;
    }
    .periodotitle2{
        position: absolute;
        width: 577px;
        height: 91px;
        left: 960px;
        top: 160px;
    /* Text/Text Semi Bold 1 */
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    /* Color/Text */
    
    color: #00473E;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0; 
    }

    .button3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 24px;
        gap: 10px;
        
        position: absolute;
        width: 100px;
        height: 40px;
        left: 1200px;
        top: 200px;
        
        /* Color/Green */
        
        border: 2px solid #00473E;
        border-radius: 40px;   
    }