.App {
    /* Tablero */
  position: relative;
  width: 1920px;
  height: 2310px;

  /* Color/White */

  background: #F2F7F5;
}

.Barrasuperio{
  position: absolute;
  width: 345px;
  height: 2310px;
  left: calc(50% - 345px/2 - 787.5px);
  top: 0px;

  background: #00473E;
}

.logo{
  position: absolute;
  width: 61px;
  height: 59px;
  left: 34px;
  top: 45px;
}

.Appnombre{
  position: absolute;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  /* identical to box height */

  text-align: center;

  /* Color/White */

  color: #F2F7F5;
}

.butbus{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 32px 2px 0px;

  position: absolute;
  width: 350px;
  height: 60px;
  left: calc(50% - 350px/2 + 340px);
  top: 50px;

  /* Color/White */

  background: #F2F7F5;
  border-radius: 40px;
}

.title{

  position: absolute;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */
  
  
  /* Color/Text */
  
  color: #00473E;
  }

