.container{
    left: 400px;
}

header h3{
   font-size: 30px;
   font-weight: bold;
   font-family: 'Poppins';
   color: #00473E;
}

.Perfil{
 position: absolute;
 width: 70%;
height: 100%;
top: 60px;
}

.avatar img{
    width: 100%;
    height: 100%;
}

.avatar{
    top:40px;
    left: 70px;
    width: 150px;
    height: 150px;
}

.info{
    position: absolute;
    top: 270px;
    left: 80px;
    font-family: 'Poppins';
    color: #475D5B;
    font-size: 15px;
    font-weight: bold;
}
.info-nombre h4{
    color: #00473E;
    font-weight:900;
    font-size: 25px;
}

.infoData{
    position: absolute;
    top: 390px;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.infoData h5 {
    margin-bottom: 20px ;
    color: #475D5B;
    font-weight: bolder;
}

.infoData5{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: #00473E;
    font-weight: bolder;
}
.infoData5 img{
    margin-right: 10px;
}

.Horario2{
    position: absolute;
    width: 100%;
   height: 100%;
   left: -380px;
}

.schedule3{
    top: -60px !important;
    color: #00473E !important;
    width: 100% !important;
}
.about, .education{
    position: absolute;
    left: -320px;

}

.education{
    top: 300px !important;
}

.about h1 , .education h1{
font-size: 25px;
font-weight: 800;
}